/*************************DEBUT de Haut de page****************************/
html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}

header{
    text-align: center;
}

nav {
    background-color: #2b6f29;
    padding: 10px;
    margin: 5px;
    height : auto;
    display: grid;
    text-align: center;
    border-radius: 15px;
    grid-template-columns: auto auto auto;
}

nav a {
    color: white;
    padding: 20px;
    display: block;
    text-decoration: none;
}

.menu{
    position: relative;
    display: inline-block;
}

.contenu_menu {
    display: none;
    position: absolute;
    background-color: grey;
    min-width: 160px;
    box-shadow: 0 8px 16px;
    z-index: 1;
}

.contenu_menu a {
    color: white;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.menu:hover .contenu_menu {
    display: block;
}

nav a:hover, .contenu_menu a:hover {
    border-radius: 15px;
    background-color: #1f4f1e;
}
/*************************FIN de Haut de page****************************/

/*************************DEBUT de Présentation du groupe******************/
.presentation_groupe h1{
    text-align : center;
    text-decoration : underline;
    font-size : 50px;
    font-family : "Agency FB";
    margin: 70px 0px 0px 0px;
}

.presentation_groupe p{
    font-family : Consolas;
    font-size : 25px;
    color : darkolivegreen;
    margin : 50px 0 0 25px;
}

.presentation_groupe ol{
    font-family : Consolas;
    font-size : 20px;
    margin : 10px 0 0 25px;
}
/*************************FIN de Présentation du groupe********************/

/*************************DEBUT de Introduction du travail*****************/
.introduction_travail h1{
    font-family : "Agency FB";
    text-decoration: underline;
    text-align : center;
    font-size : 50px;
    margin : 100px 0 0 500px;
}

.introduction_travail p{
    font-family : Consolas;
    font-size : 25px;
    margin : 50px 0 0px 25px;
}

.introduction_travail {
    position: relative;
    padding-right: 500px;
}

.introduction_travail img {
    position: absolute;
    top: 80px;
    right: 80px;
    width: 350px;
    height: 352px;
}

.introduction_travail p {
    margin : 50px 0 300px 25px;
}
/*************************FIN de Introduction du travail*******************/


/*************************DEBUT de la page "Travail sur KDou"************************/

/*************************FIN de la page "Travail sur KDou"**************************/

/***************DEBUT de Mission 3***************/
.mission3 h1 { /* Style de base de la page web pour le titre*/
    font-family : "Agency FB";
    text-decoration: underline;
    text-align : center;
    font-size : 70px;
    margin : 100px 0 0 0;
}

.mission3 .mission3_intro{
	position: relative;
    padding-right: 500px;
    margin : 50px 0 0 25px;
    border : 5px solid blue;
	
}

/***************FIN de Mission 3***************/


/*************************DEBUT de Bilan de rapport************************/
.bilan_rapport h1 {
    font-family : "Agency FB";
    text-decoration: underline;
    text-align : center;
    font-size : 70px;
    margin : 100px 0 0 0;
}

.bilan_rapport p{
    font-family : Consolas;
    font-size : 25px;
    margin : 50px 0 0 25px;
}

.bilan_rapport .paragraphe_1{
    position: relative;
    padding-right: 500px;
    margin : 50px 0 0 25px;
    border : 5px solid blue;
}

.bilan_rapport .paragraphe_2{
    position: relative;
    padding-left: 370px;
    margin : 100px 0 100px 0;
    border : 5px solid green;
}

.bilan_rapport .paragraphe_3{
    margin : 0 100px 130px 100px;
    border : 5px solid orange;
}

.bilan_rapport .paragraphe_4{
    margin : 0 100px 0px 100px;
    border : 5px solid red;
}

.bilan_rapport .couple_image {
    position: absolute;
    top: 80px;
    right: 80px;
    width: 350px;
    height: 352px;
}

.couple_image img:first-child{
    width: 290px;
    height: 174px;
    position: absolute;
    top: 420px;
    right: 20px;
}

.couple_image img:last-child{
    width: 290px;
    height: 300px;
    position: absolute;
    top: 810px;
    right : 1450px;
}

.bilan_rapport caption{
    font-family : "Agency FB";
    text-decoration: underline;
    text-align : center;
    font-size : 70px;
    margin : 100px 0 70px 0;
}

.bilan_rapport th{
    font-family : "Agency FB";
    color : red;
    font-size : 50px;
    text-align : center;
}

.bilan_rapport td{
    font-size : 30px;
    word-break: break-all;
}
th,td{
    border : 2px solid black;
    background-color: darkseagreen;
    border-radius : 10px;
}
th,td{
    padding: 30px;
}
.bilan_rapport table{
    width : 70%;
    margin : 100px 0 300px 300px;
}
/*************************FIN de Bilan de rapport**************************/

/*************************DEBUT de Pied de page**************************/
footer {
    background-color: #2b6f29;
    padding: 0;
    margin: 0;
    width: 100%;
}

.bloc_reseau {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.bloc_reseau p {
    font-size: 1.4em;
    font-weight: bold;
    color: white;
}

.bloc_reseau ul a {
    margin-left: 15px;
    text-decoration: none;
    color: #F1F1F1;
}

.bloc_reseau ul a:last-child {
    margin-right: 0;
}

.bloc_reseau ul a:hover {
    color: black;
}

hr {
    border: 1px solid #fff;
    margin-bottom: 5px;
    width: 80%;
}

.droits_conditions{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

}

.droits_conditions p{
    color: white;
    margin-left: 50px;
}
/*********************FIN de Pied de page***************************/
